*{
    margin: 0px;
    padding: 0px;
}


/*em*/

.unidad{
    width: 300px;
    background-color:aquamarine;
    font-size: 2em; /*1 em equivale a 16 px*/
}

/*vw y vh*/
.contenedor{
    font-size: 25px;
    background-color: crimson;
    width: 50vw;
    height: 50vh;
}
