/*especificidad para elementos, pseudo-elementos*/
h1{
    color: blue;
}

/*gerarquia clases, pseudo-clases, atributo*/

.color-h1{
    color: aqua;
}

.color-h1{
    color: rgb(176, 8, 243);
}

/*gerarquia identificadores*/
#color-h2{
    color: crimson; /*el id es de mayor gerarquia que una clase*/
}

.color-h2{
    color: blue;
}

/*gerarquia !important*/
h3{
    color: greenyellow !important
}